{{ form_start(form) }}
    {{ form_widget(form) }}
<div>
    <select name="optionSelectVille">
        <option value="default">Choisir une ville</option>
        {% for ville in villes %}
            <option  name="optionSelect" value="{{ville.id}}">{{ville.nom}}</option>
        {% endfor %}
    </select>
    <button class="btn">Ajouter</button>
</div>
{{ form_end(form) }}
