{% extends 'base.html.twig' %}

{% block title %}var Nom profil{% endblock %}

{% block body %}
<div>
    {#
    <a href = "{{  path('main_profil', {'id' : participant.id}) }}"
    src="{{ asset('img/photos/' ~ participant.photo)}} <img src="{{ asset('img/logo/logoSortir.png') }}"> #}

{# {% for participants in participant %}
 {% endfor %}#}
    <div>Photo</div>

    <h3>{{ participant.pseudo }}</h3>
    <div>Prénom : {{ participant.prenom}}</div>
    <div>Nom : {{ participant.nom}}</div>
    <div>Téléphone : {{ participant.telephone}}</div>
    <div>Email : {{ participant.mail}}</div>
    <div>Campus: CAMPUS</div>
    <button><a href="{{ path('main_index') }}">Retour</a></button>
    <button><a href="{{ path('main_profil_edit') }}">Modifier</a></button>
    <button>Supprimer</button>

</div>
{% endblock %}
