{% extends 'base.html.twig' %}

{% block title %}Participant index
{% endblock %}

{% block body %}
	<div>
		<h1>Participant index</h1>

		<table
			class="table">
			<thead>
				<tr>
					<th>Pseudo</th>
					<th>Nom</th>
					<th>Prenom</th>
					<th>Mail</th>
					{# <th>Id</th> #}
				{# <th>Roles</th> #}
					{# <th>Password</th> #}
					{# <th>Telephone</th> #}
					{# <th>Administrateur</th> #}
					{# <th>Actif</th> #}
					{# <th>actions</th> #}
				</tr>
			</thead>
			<tbody>
				{% for participant in participants %}
					<div>
						<tr>
							<td
								class="nomSortie">

								<a
									href="{{ path('profil_edit', {'id': participant.id}) }}">{{ participant.pseudo }}</a>
							</td>
					</td>
					<td>{{ participant.nom }}</td>
					<td>{{ participant.prenom }}</td>
					<td>{{ participant.mail }}</td>
				</tr>
		</div>
	{% else %}
		<tr>
			<td
				colspan="11">Pas de participant trouvé</td>
		</tr>
	{% endfor %}
</tbody></table></div>{% endblock %}
