{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}
	<div>

		<h1>Inscription</h1>
		{{ form_start(registrationForm) }}
		<select name="optionSelectCampus">
			{% for campus in campuses %}
				<option name="optionSelect" value="{{campus.id}}">{{campus.nom}}</option>
			{% endfor %}
		</select>
		{{ form_widget(registrationForm) }}
		<div class="btnSousFormulaire">
			<button name="inscription" type="submit" class="btn">M'inscrire</button>
		</div>
		{{ form_end(registrationForm) }}
	</div>
{% endblock %}
