{% extends 'base.html.twig' %}

{% block title %}Campus
{% endblock %}

{% block body %}
	<a
		href="{{ path('campus_new') }}">Créer un Campus</a>
	<div>

		<h1>Liste des Campus</h1>
		<div
			class="scrollBox">
			<table
				class="table">
				<tbody>
					{% for campus in campuses %}
						<tr>
							{# <td>{{ campus.id }}</td> #}
							<td>{{ campus.nom }}</td>
							<td
								class="CelluleBtnTableau">
								<a
									class="AncreBtnTableau"

									href="{{ path('campus_edit', {'id': campus.id}) }}">Modifier</a>
							</td>
						</tr>
					{% else %}
						<tr>
							<td
								colspan="3">Pas de campus trouvé!</td>
							{% for notice in app.flashes('notice') %}
								{{ notice }}
							{% endfor %}
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}
