{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<div>
    <div>
        <h4>Date du jour : {{ dateDuJour }}</h4>
        <h4>Participant : {{ participantPrenom }} {{ participantNom }}</h4>
    </div>
    <h4>Filtrer les sorties : </h4>
    <div>
        <div>
            <label>Campus : </label>
            <select>
                {% for option in options %}
                    <option value="{{ option }}">{{ option }}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            <label>Le nom de la sortie contient : </label>
            <input>
        </div>
        <div>
            <label>Entre : </label>
            <input type="date">
            <img alt="logo calendrier">
            <label>et</label>
            <input type="date">
            <img alt="logo calendrier">
        </div>
    </div>
    <div>
        <div>
            <input type="checkbox" value="1">
            <label>Sorties dont je suis l'organisateur.trice</label>
        </div>
        <div>
            <input type="checkbox" value="2">
            <label>Sorties auxquelles je suis inscrite.e</label>
        </div>
        <div>
            <input type="checkbox" value="3" checked>
            <label >Sorties auxquelles je ne suis pas inscrit.e</label>
        </div>
        <div>
            <input type="checkbox" value="4">
            <label>Sorties passées</label>
        </div>
    </div>
    <div>
        <button type="submit">Rechercher</button>
    </div>

    <table>
        <tr><th>Nom de la sortie</th><th>Date de la sortie</th><th>Clôture</th><th>Inscrits/places</th><th>Etat</th><th>Inscrit</th><th>Organisateur</th><th>Actions</th></tr>
        {% for sortie in sorties %}
            <tr>
                {% for i in 1..8 %}
                    {% if sortie[i] == 'Afficher' %}
                        <td>
                            <a href="{{ path('sorties_details',{ id : sortie[0]}) }}">{{ sortie[i]}}</a>
                        </td>
                    {% elseif sortie[i] == 'Modifier' %}
                        <td>
                            <a href="{{ path('sorties_edit',{ id : sortie[0]}) }}">{{ sortie[i]}}</a>
                        </td>
                    {% else %}
                            <td>{{ sortie[i]}}</td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
    <div>
        <button type="submit">
            <a class="btnNav" href="{{ path('sorties_creer') }}">Creer une sortie</a>
        </button>
    </div>


</div>
{% endblock %}
