{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<div>
    <div class="enTeteAfficherSortie">
        <h2>Sorties : </h2>
        <h5>Date du jour : {{ dateDuJour }}{% if app.user %} - {{  app.user.prenom }} {{ app.user.nom }}{% endif %}</h5>
        <div>
            {% if app.user %}
                <button type="submit"><a class="btnNav" href="{{ path('sorties_creer') }}">Creer une sortie</a>
                </button>
            {% elseif app.user == false %}
                <button type="submit"><a class="btnNav" href="{{ path('app_login') }}">Me connecter pour créer une sortie</a>
                </button>
            {% endif %}
        </div>
    </div>
    <div>
        <div>
            <label>Campus : </label>
            <select>
                {% for option in options %}<option value="{{ option }}">{{ option }}</option>{% endfor %}
            </select>
        </div>
        <div>
            <label>Le nom de la sortie contient : </label>
            <input>
        </div>
        <div>
            <label>Entre : </label>
            <input type="date">
            <img alt="logo calendrier">
            <label>et</label>
            <input type="date">
            <img alt="logo calendrier">
        </div>
    </div>
    <div>
        <input type="checkbox" value="3" checked>
        <label >Nouveautés</label>
        <input type="checkbox" value="1">
        <label>Organisateur-trice</label>
        <input type="checkbox" value="2">
        <label>Inscrit-e</label>
        <input type="checkbox" value="4">
        <label>Joyeux Souvenirs</label>
    </div>
    <div>
        <button type="submit">Rechercher</button>
    </div>

    <table>
        <tr><th>Nom de la sortie</th><th>Date de la sortie</th><th>Clôture</th><th>Inscrits/places</th><th>Etat</th><th>Inscrit</th><th>Organisateur</th><th>Actions</th></tr>
        {% for sortie in sorties %}
            <tr>
                <td>
                    <a href="{{ path('sorties_details',{ id : sortie.id}) }}">{{ sortie.nom }}</a>
                </td>
                <td>
                    {{ sortie.dateHeureDebut | date("d / m / Y") }}
                </td>
                <td>
                    {{ sortie.dateLimiteInscription | date("d / m / Y")}}
                </td>
                <td>
                     / {{ sortie.nbInscriptionsMax }}
                </td>
                <td>
                    {% if sortie.etat == 'annulé' %}
                        Annulée
                    {% endif %}
                    {% if sortie.etat == 'créée' %}
                        En création
                    {% endif %}
                    {% if sortie.etat == 'ouverte' %}
                        Ouverte
                    {% endif %}
                    {% if sortie.etat == 'cloturé' or sortie.etat == 'passé' %}
                        Fermé
                    {% endif %}
                </td>
                <td>
                    {% if app.user %}
                        {% if app.user.mail == "ajouter le mail de l'organisateur" %}
                            X
                        {% endif %}
                    {% endif %}
                </td>
                <td>
                    Orga a mettre
                </td>
                <td>
                    {% if app.user %}
                        {# todo: Changer les cjumeline par les {Partipant.id ou .mail} #}
                        {% if app.user.mail == "cjumelinee@tutanota.com" %}
                            {% if sortie.etat == 'créée' %}
                                <a href="{{ path('sorties_edit',{'id' : sortie.id} )}}">Modifier</a>
                                <a href="{{ path('sorties_edit',{'id' : sortie.id} )}}">Publier</a>
                            {% endif %}
                            {% if sortie.etat == 'ouverte' %}
                                <a href="{{ path('sorties_edit',{'id' : sortie.id})}}">Modifier</a>
                                <a href="{{ path('sorties_annuler',{'id' : sortie.id})}}">Annuler</a>
                            {% endif %}
                            {% if sortie.etat == 'annulé' %}
                                <a href="{{ path('sorties_edit',{'id' : sortie.id} )}}">Modifier</a>
                                <a href="{{ path('sorties_supprimer',{'id' : sortie.id} )}}">Supprimer</a>
                            {% endif %}
                        {% endif %}
                        {% if app.user.mail != "cjumelinee@tutanota.com" %}
                            {% if sortie.etat == 'ouverte' %}
                                {% if app.user.actif == 0 %}
                                    <a href="{{ path('sorties_edit',{'id' : sortie.id} )}}">Participer</a>
                                {% endif %}
                                {% if app.user.actif == 1  %}
                                    <a href="{{ path('sorties_edit',{'id' : sortie.id} )}}">Se désister</a>
                                {% endif %}
                            {% endif %}
                            {% if sortie.etat == 'cloturé' %}
                                {% if app.user.actif == 1  %}
                                    <a href="{{ path('sorties_edit',{'id' : sortie.id} )}}">Se désister</a>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>



</div>
{% endblock %}

                {# {% if sortie == 'Afficher' %}
                        <td>
                            <a href="{{ path('sorties_details',{ id : sortie[0]}) }}">{{ sortie[i]}}</a>
                        </td>
                    {% elseif sortie[i] == 'Modifier' %}
                        <td>
                            <a href="{{ path('sorties_edit',{ id : sortie[0]}) }}">{{ sortie[i]}}</a>
                        </td>
                    {% else %}
                            <td>{{ sortie[i]}}</td>
                    {% endif %}#}
