{% extends 'base.html.twig' %}
{% block body %}

    <h3>Modifier une sortie </h3>
    <form method="post">
        <div>Nom de la sortie :
          <input type="text" value="{{ sortie.nom }}" name="nom" required="required" maxlength="50"></div>
        <div>Organisateur : {{ app.user.pseudo }}</div>
        <div>Date et heure de la sortie :
            <input type="text"  value="{{ sortie.dateHeureDebut | date("Y-m-d H:m") }}" name="dateHeureDebut"></div>
        <div>Date limite d'inscription :
            <input type="text"  value="{{ sortie.dateLimiteInscription | date("Y-m-d h:m") }}" name="dateLimiteInscription"></div>
        <div>Nombre de places :
          <input type="number" value="{{ sortie.nbInscriptionsMax }}" name="nbInscriptionsMax" required="required" maxlength="50"></div>
        <div>Durée :
          <input type="number" value="{{ sortie.duree }}" name="duree" required="required" maxlength="50"></div>
        <div>Description et infos :
            <textarea type="text" name="infosSortie" >{{ sortie.infosSortie }}</textarea></div>
        <div>Campus :
            <select type="text" name="campus" maxlength="50"></select></div>
        <div>Lieu :  </div>
        <div>Rue :  </div>
        <div>Code Postal :  </div>
        <div>Latitude : Non renseignée</div>
        <div>Longitude : Non renseignée</div>

        {% if sortie.etat != 'annulé' %}
            {% if sortie.etat != 'ouverte' %}
                <button type="submit" class="btn" name="modifier" value="modifier" >Enregistrer les modifications</button>
            {% endif %}
            {% if sortie.etat == 'ouverte' %}
                <button type="submit" class="btn" name="ouverte" value="ouverte">Publier les modifications</button>
            {% endif %}
            <button ><a href="{{ path('sorties_annuler',{'id' : sortie.id})}}">Annuler la sortie</a></button>
        {% endif %}

        {% if sortie.etat == 'annulé' %}
            <button type="submit" class="btn" name="ouverte" value="ouverte">Publier à nouveau</button>
            {#  todo : dans un bouton#}
            <a href="{{ path('sorties_supprimer',{'id' : sortie.id} )}}">Supprimer la sortie</a>
        {% endif %}
    </form>
{% endblock %}
