{% extends 'base.html.twig' %}
{% block body %}

    <h3>Modifier une sortie </h3>
    <form method="post">
        <div>Nom de la sortie :
          <input type="text" value="{{ sortie.nom }}" name="nom" required="required" maxlength="50"></div>
        <div>Organisateur : {{ app.user.pseudo }}</div>
        <div>Date et heure de la sortie :
            <input type=text  value="{{ sortie.dateHeureDebut | date("Y-m-d h:m:00") }}" name="dateHeureDebut"></div>
        <div>Date limite d'inscription :
            <input type=text  value="{{ sortie.dateLimiteInscription | date("Y-m-d h:m:00") }}" name="dateLimiteInscription"></div>
        <div>Nombre de places :
          <input type="number" value="{{ sortie.nbInscriptionsMax }}" name="nbInscriptionsMax" required="required" maxlength="50"></div>
        <div>Durée :
          <input type="number" value="{{ sortie.duree }}" name="duree" required="required" maxlength="50"></div>
        <div>Description et infos :
            <textarea>{{ sortie.infosSortie }}</textarea></div>
        <div>Campus :  </div>
        <div>Lieu :  </div>
        <div>Rue :  </div>
        <div>Code Postal :  </div>
        <div>Latitude : Non renseignée</div>
        <div>Longitude : Non renseignée</div>

        <button type="submit" class="btn" name="modifier" value="modifier" >Enregistrer les modifications</button>
        <button type="submit" class="btn" name="ouverte" value="ouverte">Publier la sortie</button>
        <button type="submit" class="btn" name="supprimer" value="supprimer">Supprimer la sortie</button>
        <button type="submit" class="btn" name="annuler" value="annuler">Annuler la sortie</button>
    </form>
{% endblock %}
