{{ form_start(form) }}

<div
	class="deuxformBlock">

	<div
		class="block1">
		<p>Veuillez ajouter un lieu au préalable, si nécessaire.</p>
		<div>
			<select
				name="optionSelectCampus">
				<option
					value="default">Choisir un campus</option>
				{% for campus in campuses %}
					<option
						name="optionSelect"
						value="{{campus.id}}">{{campus.nom}}</option>
				{% endfor %}
			</select>
		</div>
		<div>
			<select
				name="optionSelectVille">
				<option
					value="default">Choisir une ville</option>
				{% for ville in villes %}
					<option
						name="optionSelect"
						value="{{ville.id}}">{{ville.nom}}</option>
				{% endfor %}
			</select>
		</div>
		<div>
			<select
				id="optionSelectLieu"
				name="optionSelectLieu"
				onchange="choix()">
				<option
					value="default">Choisir un lieu</option>
				{% for lieu in lieux %}
					<option
						id="optionSelect"
						name="optionSelect"
						value="{{ lieu.id }}/{{lieu.nom}}/{{lieu.ville.codePostal}}/{{lieu.latitude}}/{{lieu.longitude}}">{{lieu.nom}}</option>
				{% endfor %}
			</select>
			<a
				href="{{ path('lieu_new',{ id : app.user.id}) }}">Ajouter Lieu</a>
		</div>
		<div
			class="affichageLieu">
			<div>
				<label
					id="rue">Rue</label>
			</div>
			<div>
				<label
					id="codePostal">Code postal</label>
			</div>
			<div>
				<label
					id="latitude">Latitude</label>
			</div>
			<div>
				<label
					id="longitude">Longitude</label>
			</div>
		</div>
	</div>
	<div
		class="block2">

		{{ form_widget(form) }}
	</div>
</div>
<div
	class="btnSousFormulaire">

	{% if sortie.etat != 'Ouverte' and sortie.etat != 'Créée' and sortie.etat != 'Annulée' %}
		<button
			class="btn"
			name="Créée"
			value="Créée">Enregistrer</button>
		<button
			class="btn"
			name="Ouverte"
			value="Ouverte">Publier</button>
	{% endif %}

	{% if sortie.etat == 'Ouverte' %}
		<button
			class="btn"
			name="Ouverte"
			value="Ouverte">Publier les modifications</button>
		<button
			class="btn"
			name="Annulée"
			value="Annulée">Annuler</button>
	{% endif %}

	{% if sortie.etat == 'Créée' %}
		<button
			class="btn"
			name="Ouverte"
			value="Ouverte">Publier</button>
		<button
			class="btn"
			name="Créée"
			value="Créée">Enregistrer</button>
		<button
			class="btn"
			name="Annulée"
			value="Annulée">Annuler</button>
	{% endif %}

	{% if sortie.etat == 'Annulée' %}
		<button
			class="btn"
			name="Ouverte"
			value="Ouverte">Publier à nouveau</button>
		{{ include('sortie/_delete_form.html.twig') }}
	{% endif %}
</div>
{{ form_end(form) }}
