{{ form_start(form) }}

{{ form_widget(form) }}

<div>
	<select name="optionSelectCampus">
		<option value="default">Choisir un campus</option>
		{% for campus in campuses %}
			<option  name="optionSelect" value="{{campus.id}}">{{campus.nom}}</option>
		{% endfor %}
	</select>
</div>


<div>
	<select name="optionSelectVille">
		<option value="default">Choisir une ville</option>
		{% for ville in villes %}
			<option  name="optionSelect" value="{{ville.id}}">{{ville.nom}}</option>
		{% endfor %}
	</select>
</div>




<div class="btnSousFormulaire">

	{% if sortie.etat != 'Ouverte' and sortie.etat != 'Créée' and sortie.etat != 'Annulée' %}
		<button class="btn" name="Ouverte" value="Ouverte">Publier</button>
		<button class="btn" name="Créée" value="Créée">Enregistrer</button>
	{% endif %}

	{% if sortie.etat == 'Ouverte' %}
		<button class="btn" name="Ouverte" value="Ouverte">Publier les modifications</button>
		<button class="btn" name="Annulée" value="Annulée">Annuler</button>
	{% endif %}

	{% if sortie.etat == 'Créée' %}
		<button class="btn" name="Ouverte" value="Ouverte">Publier</button>
		<button class="btn" name="Créée" value="Créée">Enregistrer</button>
		<button class="btn" name="Annulée" value="Annulée">Annuler</button>
	{% endif %}

	{% if sortie.etat == 'Annulée' %}
	<button class="btn" name="Ouverte" value="Ouverte">Publier à nouveau</button>
	{{ include('sortie/_delete_form.html.twig') }}
	{% endif %}
</div>

{{ form_end(form) }}
<form method="post" action="">
<div>
	<select name="optionSelectLieu">
		<option value="default">Choisir un lieu</option>
		{% for lieu in lieux %}
			<option  name="optionSelect" value="{{lieu.id}}">{{lieu.nom}}</option>
		{% endfor %}
	</select>

	<a href="">Ajouter Lieu</a>

	<div>
		<input type="text" maxlength="150" placeholder="Rue">

		<input type="number" maxlength="4" placeholder="Code postal">
	</div>
</div>
</form>

