{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}

	<div
		class="premierDivAccueil">
		<h3>
			{% if app.user %}Bonjour
				{{  app.user.pseudo }}
			{% endif %}
		</h3>
		<form
			method="post"
			action="">
			<label>Campus :
			</label>
			<select
				name="campusSelect"
				id="campusSelect">
				<option
					value="default">Choisir un campus</option>
				{% for campus in campuses %}
					<option
						value="{{ campus.id }}">{{campus.nom}}</option>
				{% endfor %}
			</select>
			<input
				type="text"
				name="motRecherche"
				placeholder="Quel Sortie ?">
			<label>Entre :
			</label>
			<input
				name="dateDebut"
				type="date"
				value="{{ date.format('Y-m-d') }}">
			<label>et</label>
			<input
				name="dateFin"
				type="date"
				value="{{ date.format('Y-m-d') }}">
			<div>
				<input
					name="nouveaute"
					type="checkbox"
					value="3"
					checked>
				<label>Nouveautés</label>
				<input
					name="organisateur"
					type="checkbox"
					value="1">
				<label>Organisateur-trice</label>
				<input
					name="inscrit"
					type="checkbox"
					value="2">
				<label>Inscrit-e</label>
				<input
					name="passee"
					type="checkbox"
					value="4">
				<label>Joyeux Souvenirs</label>
				<button
					type="submit"
					name="submit">Rechercher</button>
			</div>
		</form>
	</div>

	{# FORMULAIRE SORTIE #}
	<div>
		<h1>Sorties disponibles</h1>
		<div
			class="scrollBox">

			<table
				class="table sortieShow">
				<thead>
					<tr>
						<th>Nom</th>
						<th>Date de la sortie</th>
						<th>Clôture</th>
						<th>Places</th>
						<th>Etat</th>
						<th>Inscrit</th>
						<th>Organisateur</th>
					</tr>
				</thead>
				<tbody>
					{% for sortie in sorties %}
						<tr>
							<td
								class="nomSortie">
								<a
									href="{{ path('sortie_show',{ id : sortie.id}) }}">{{ sortie.nom }}</a>
							</td>
							<td>{{ sortie.dateHeureDebut ? sortie.dateHeureDebut|date('d/m/Y H:i') : '' }}</td>
							<td>{{ sortie.dateLimiteInscription ? sortie.dateLimiteInscription|date('d/m/Y H:i') : '' }}</td>
							<td>
								{{sortie.participants | length}}
								/
								{{ sortie.nbInscriptionsMax }}</td>
							<td>
								{% if sortie.etat.libelle == 'Annulée' %}
									Annulée
								{% endif %}
								{% if sortie.etat.libelle == 'Créée' %}
									En création
								{% endif %}
								{% if sortie.etat.libelle == 'Ouverte' %}
									Ouverte
								{% endif %}
								{% if sortie.etat.libelle == 'Cloturée' %}
									Clôturée
								{% endif %}
								{% if sortie.etat.libelle == 'Passée' %}
									Passée
								{% endif %}
								{% if sortie.etat.libelle == 'Fermée'%}
									Fermée
								{% endif %}
								{% if sortie.etat.libelle == 'En Cours' %}
									En cours
								{% endif %}
							</td>
							<td>
								{% if app.user %}
									{% for participant in sortie.participants %}
										{% if participant.id == app.user.id %}
											O
										{% endif %}
									{% endfor %}
								{% endif %}
							</td>
							<td class="nomsortie">
								<a
									href="{{ path('profil_id',{ id : sortie.organisateur.id}) }}">{{sortie.organisateur.pseudo}}</a>
							</td>
							{% if app.user %}
								<td
									class="CelluleBtnTableau">
									{% if app.user.pseudo == sortie.organisateur.pseudo %}
										{% if sortie.etat.libelle == 'Créée' %}
											<a
												href="{{ path('sortie_edit',{'id' : sortie.id} )}}" class="AncreBtnTableau">Modifier</a>
											{# todo: modifier comme bouton dans _form et modifier le mainController pour publier directement #}
											<a
												href="{{ path('sortie_edit',{'id' : sortie.id} )}}" class="AncreBtnTableau"
												name="Ouverte"
												value="Ouverte">Publier</a>

										{% endif %}
										{% if sortie.etat.libelle == 'Ouverte' or sortie.etat.libelle == 'Cloturée'%}
											<a
												href="{{ path('sortie_edit',{'id' : sortie.id})}}" class="AncreBtnTableau">Modifier</a>
											{# todo: rediriger vers la page annulation (de edit_etat)
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																<a href="{{ path('edit_etat',{'id' : sortie.id} )}}">Annuler</a>#}
										{% endif %}
										{% if sortie.etat.libelle == 'Annulée' %}
											<a
												href="{{ path('sortie_edit',{'id' : sortie.id} )}}" class="AncreBtnTableau">Modifier</a>
											{# todo: modifier comme bouton dans _form et modifier le mainController pour publier directement #}
											<a
												href="{{ path('sortie_edit',{'id' : sortie.id} )}}" class="AncreBtnTableau">Republier</a>
											{# todo: rediriger vers la page annulation (de edit_etat)
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																<a href="{{ path('etat_edit',{'id' : sortie.id} )}}">Supprimer</a>#}
										{% endif %}
									{% endif %}
									{% if app.user.mail != sortie.organisateur.mail %}
												{# todo: ajouter le if :relation avec une sortie spécifique, si on participe pas, on peut s'inscrire #}
												{% set value = '0' %}
												{% for participant in sortie.participants %}
													{% if participant.id == app.user.id %}
														{% set value = '1'%}
													{% endif %}
												{% endfor %}
											{% if sortie.etat.libelle == 'Ouverte' %}
												{% if sortie.participants | length != sortie.nbInscriptionsMax %}
													{% if value == 0 %}
													<a
														href="{{ path('sortie_ajoutPraticipant',{'idS' : sortie.id, 'idP': app.user.id, 'clic' : 'inscrire'} )}}" class="AncreBtnTableau">
														Participer</a>
													{% endif %}
												{% endif %}
											{% endif %}
												{% if value == 1 %}
												<a
													href="{{ path('sortie_suppPraticipant',{'idS' : sortie.id, 'idP': app.user.id, 'clic' : 'desister'} )}}" class="AncreBtnTableau">
													Se désister</a>
												{% endif %}
								{% endif %}
								{% if sortie.etat.libelle == 'Cloturée' %}
									{% if app.user.actif == 1  %}
										<a
											href="{{ path('sortie_edit',{'id' : sortie.id} )}}" class="AncreBtnTableau">Se désister</a>
									{% endif %}
								{% endif %}
							</td>
						{% endif %}
					</tr>
				{% else %}
					<tr>
						<td
							colspan="9">Aucune sorties</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>{% endblock %}
