{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}

	<div
		class="premierDivAccueil">
		<h3>
			{% if app.user %}Bonjour
				{{  app.user.pseudo }}
			{% endif %}
		</h3>
		<form method="post" action="">
			<label>Campus :
			</label>
			<select
				name="campusSelect">
				<option
						value="default">Choisir un campus</option>
				{% for campus in campuses %}
					<option
						value="{{ campus.id }}">{{campus.nom}}</option>
				{% endfor %}
			</select>
			<input
				type="text"
				name="motRecherche"
				placeholder="Quel Sortie ?">
			<label>Entre :
			</label>
			<input
					name="dateDebut" value = "{{ date.format('Y-m-d') }}"
					type="date">
			<label>et</label>
			<input
					name="dateFin"  value = "{{ date.format('Y-m-d') }}"
					type="date">
			<div>
				<input
						name="nouveaute"
						type="checkbox"
						value="3"
						checked>
				<label>Nouveautés</label>
				<input
						name="organisateur"
						type="checkbox"
						value="1">
				<label>Organisateur-trice</label>
				<input
						name="inscrit"
						type="checkbox"
						value="2">
				<label>Inscrit-e</label>
				<input
						name="passee"
						type="checkbox"
						value="4">
				<label>Joyeux Souvenirs</label>
				<button
						type="submit">Rechercher</button>
			</div>
		</form>
	</div>

	<div></div>


	{# FORMULAIRE SORTIE #}
	<div>
		{% for register in app.flashes('register') %}
			{{ register }}
		{% endfor %}
		{% for notice in app.flashes('notice') %}
			{{ notice }}
		{% endfor %}
		<h1>Sorties disponibles</h1>
		<div
			class="scrollBox">

			<table
				class="table sortieShow">
				<thead>
					<tr>
						<th>Nom</th>
						<th>Date de la sortie</th>
						<th>Clôture</th>
						<th>Places</th>
						<th>Etat</th>
						<th>Inscrit</th>
						<th>Organisateur</th>
					</tr>
				</thead>
				<tbody>
					{% for sortie in sorties %}
						<tr>
							<td
								class="nomSortie">
								<a
									href="{{ path('sortie_show',{ id : sortie.id}) }}">{{ sortie.nom }}</a>
							</td>
							<td>{{ sortie.dateHeureDebut ? sortie.dateHeureDebut|date('d/m/Y H:i') : '' }}</td>
							<td>{{ sortie.dateLimiteInscription ? sortie.dateLimiteInscription|date('d/m/Y H:i') : '' }}</td>
							<td>
								{{sortie.participants | length}}
								/
								{{ sortie.nbInscriptionsMax }}</td>
							<td>
								{% if sortie.etat.libelle == 'Annulée' %}
									Annulée
								{% endif %}
								{% if sortie.etat.libelle == 'Créée' %}
									En création
								{% endif %}
								{% if sortie.etat.libelle == 'Ouverte' %}
									Ouverte
								{% endif %}
								{% if sortie.etat.libelle == 'Cloturée' or sortie.etat.libelle == 'Passée' or sortie.etat.libelle == 'Fermée' %}
									Fermée
								{% endif %}
								{# todo: dans main controller, gérer les dates pour afficher si activité en cours ou terminée #}
								{% if sortie.etat.libelle == 'En Cours' %}
									En cours
								{% endif %}

							</td>
							{# todo : si on est actif pour cet evenement (manque les relations) mettre un if puis 'X' si true #}
							{# todo: verifier quand on fais l'inscription a une activité #}
							<td>
								{% if app.user %}
									{% for participant in sortie.participants %}
										{% if participant.id == app.user.id %}
											X
										{% endif %}
									{% endfor %}
								{% endif %}
							</td>
							<td>
								<a href="{{ path('profil_id',{ id : sortie.organisateur.id}) }}">{{sortie.organisateur.pseudo}}</a></td>
							{% if app.user %}
								<td
									class="CelluleBtnTableau">
									{% if app.user.pseudo == sortie.organisateur.pseudo %}
										{% if sortie.etat.libelle == 'Créée' %}
											<a
												href="{{ path('sortie_edit',{'id' : sortie.id} )}}" class="AncreBtnTableau">Modifier</a>
											{# todo: modifier comme bouton dans _form et modifier le mainController pour publier directement #}
											<a
												href="{{ path('sortie_edit',{'id' : sortie.id} )}}" class="AncreBtnTableau"
												name="Ouverte"
												value="Ouverte">Publier</a>

										{% endif %}
										{% if sortie.etat.libelle == 'Ouverte' %}
											<a
												href="{{ path('sortie_edit',{'id' : sortie.id})}}" class="AncreBtnTableau">Modifier</a>
											{# todo: rediriger vers la page annulation (de edit_etat)
																																																																				<a href="{{ path('edit_etat',{'id' : sortie.id} )}}">Annuler</a>#}
										{% endif %}
										{% if sortie.etat.libelle == 'Annulée' %}
											<a
												href="{{ path('sortie_edit',{'id' : sortie.id} )}}" class="AncreBtnTableau">Modifier</a>
											{# todo: modifier comme bouton dans _form et modifier le mainController pour publier directement #}
											<a
												href="{{ path('sortie_edit',{'id' : sortie.id} )}}" class="AncreBtnTableau">Republier</a>
											{# todo: rediriger vers la page annulation (de edit_etat)
																																																																				<a href="{{ path('etat_edit',{'id' : sortie.id} )}}">Supprimer</a>#}
										{% endif %}
									{% endif %}
									{# todo: Changer les cjumeline par les {organisateur.id ou .mail} #}
									{% if app.user.mail != sortie.organisateur.mail %}
										{% if sortie.etat.libelle == 'Ouverte' %}
											{% if app.user.actif == 0  %}
												{# todo: ajouter le if :relation avec une sortie spécifique, si on participe pas, on peut s'inscrire #}
												<a
													href="{{ path('sortie_edit',{'id' : sortie.id} )}}" class="AncreBtnTableau">Participer</a>
												<a
													href="{{ path('sortie_edit',{'id' : sortie.id} )}}" class="AncreBtnTableau">Se désister</a>
											{% endif %}
										{% endif %}
										{% if sortie.etat.libelle == 'Cloturée' %}
											{% if app.user.actif == 1  %}
												<a
													href="{{ path('sortie_edit',{'id' : sortie.id} )}}" class="AncreBtnTableau">Se désister</a>
											{% endif %}
										{% endif %}
									{% endif %}
								</td>
							{% endif %}
						</tr>
					{% else %}
						<tr>
							<td
								colspan="9">Aucune sorties</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>


	</div>

	{{ "now" |format_datetime('long', 'short', locale='fr') }}


	{# <a href="{{ path('sortie_new') }}">Creer une nouvelle Sortie</a> #}
{% endblock %}


{# {% if sortie == 'Afficher' %}
                        <td>
                            <a href="{{ path('sorties_details',{ id : sortie[0]}) }}">{{ sortie[i]}}</a>
                        </td>
                    {% elseif sortie[i] == 'Modifier' %}
                        <td>
                            <a href="{{ path('sorties_edit',{ id : sortie[0]}) }}">{{ sortie[i]}}</a>
                        </td>
                    {% else %}
                            <td>{{ sortie[i]}}</td>
                    {% endif %}#}


{# //__________________________________________________________ #}
{# // TODO: à vois si l'on ne dois pas mettre la connnexion en premier
car sur la maquette la premier page est la connexion
 de sorte que seul les étudiant puissent voir les sorties  #}
