{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}

	<div>
		<h3>
			{% if app.user %} Bonjour 
				{{  app.user.prenom }}
				{{ app.user.nom }}
			{% endif %}
		</h3>
		<h2>Sorties :
		</h2>
	</div>
	<div>
		<!-- <div> -->
			<select name="campus">
				{% for campus in campuses %}
					<option value="Rennes">{{campus.nom}}</option>
				{% endfor %}
			</select>
		<!-- </div> -->
		<!-- <div> -->
			<input type="text" placeholder="Quel Sortie ?">
		<!-- </div> -->
		<!-- <div> -->
			<label>Entre :
			</label>
			<input type="date">
			<!-- <img src="{{asset('../../public/img/logo/agenda.png')}}" class="logoCalendrier" alt="logo calendrier"> -->
			<label>et</label>
			<input type="date">
			<!-- <img src="{{asset('../../public/img/logo/agenda.png')}}" class="logoCalendrier" alt="logo calendrier"> -->
		<!-- </div> -->
	</div>
	<div>
		<input type="checkbox" value="3" checked>
		<label>Nouveautés</label>
		<input type="checkbox" value="1">
		<label>Organisateur-trice</label>
		<input type="checkbox" value="2">
		<label>Inscrit-e</label>
		<input type="checkbox" value="4">
		<label>Joyeux Souvenirs</label>
		<button type="submit">Rechercher</button>
	</div>
	<div>
	</div>


	{# FORMULAIRE SORTIE #}

	<h1>Sortie Disponible</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Nom</th>
				<th>Date de la sortie</th>
				<th>Clôture</th>
				<th>Inscrits/places</th>
				<th>Etat</th>
				<th>Inscrit</th>
				<th>Organisateur</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
		{% for sortie in sorties %}
			<tr>
				<td><a href="{{ path('sortie_show',{ id : sortie.id}) }}">{{ sortie.nom }}</a></td>
				<td>{{ sortie.dateHeureDebut ? sortie.dateHeureDebut|date('d/m/Y H:i') : '' }}</td>
				<td>{{ sortie.dateLimiteInscription ? sortie.dateLimiteInscription|date('d/m/Y H:i') : '' }}</td>
				{# todo: Mettre le nombre d'inscrits avant le / (|lenght ?) #}
				<td>{participants} / {{ sortie.nbInscriptionsMax }}</td>
				<td>
					{% if sortie.etat == 'Annulé' %}
						Annulée
					{% endif %}
					{% if sortie.etat == 'Créée' %}
						En création
					{% endif %}
					{% if sortie.etat == 'Ouverte' %}
						Ouverte
					{% endif %}
					{% if sortie.etat == 'Cloturé' or sortie.etat == 'Passé' %}
						Fermé
					{% endif %}
				</td>
				{# todo : si on est actif pour cet evenement (manque les relations) mettre un if puis 'X' si true #}
				<td>{participant.actif}</td>
				{# todo: Orgnaisateur via relation #}
				<td>{Jacques}</td>
				<td>
					{% if app.user %}
						{# todo: Changer les cjumeline par les {organisateur.id ou .mail} #}
						{% if app.user.mail == "cjumelinee@tutanota.com" %}
							{% if sortie.etat == 'Créée' %}
								<a href="{{ path('sortie_edit',{'id' : sortie.id} )}}">Modifier</a>
								{# todo: modifier comme bouton dans _form et modifier le mainController pour publier directement #}
								<a href="{{ path('sortie_edit',{'id' : sortie.id} )}}">Publier</a>
							{% endif %}
							{% if sortie.etat == 'Ouverte' %}
								<a href="{{ path('sortie_edit',{'id' : sortie.id})}}">Modifier</a>
								{# todo: rediriger vers la page annulation (de edit_etat)
								<a href="{{ path('edit_etat',{'id' : sortie.id} )}}">Annuler</a>#}
							{% endif %}
							{% if sortie.etat == 'Annulée' %}
								<a href="{{ path('sortie_edit',{'id' : sortie.id} )}}">Modifier</a>
								{# todo: modifier comme bouton dans _form et modifier le mainController pour publier directement #}
								<a href="{{ path('sortie_edit',{'id' : sortie.id} )}}">Republier</a>
								{# todo: rediriger vers la page annulation (de edit_etat)
								<a href="{{ path('etat_edit',{'id' : sortie.id} )}}">Supprimer</a>#}
							{% endif %}
						{% endif %}
						{# todo: Changer les cjumeline par les {organisateur.id ou .mail} #}
						{% if app.user.mail != "cjumelinee@tutanota.com" %}
								{% if sortie.etat == 'Ouverte' %}
									{% if app.user.actif == 0  %}
										{# todo: ajouter le if :relation avec une sortie spécifique, si on participe pas, on peut s'inscrire #}
										<a href="{{ path('sortie_edit',{'id' : sortie.id} )}}">Participer</a>
										<a href="{{ path('sortie_edit',{'id' : sortie.id} )}}">Se désister</a>
									{% endif %}
								{% endif %}
								{% if sortie.etat == 'Cloturée' %}
									{% if app.user.actif == 1  %}
										<a href="{{ path('sortie_edit',{'id' : sortie.id} )}}">Se désister</a>
									{% endif %}
								{% endif %}
						{% endif %}
					{% endif %}
				</td>
			</tr>
		{% else %}
			<tr>
				<td colspan="9">no records found</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>

	{# <a href="{{ path('sortie_new') }}">Creer une nouvelle Sortie</a> #}
{% endblock %}

{# {% if sortie == 'Afficher' %}
                        <td>
                            <a href="{{ path('sorties_details',{ id : sortie[0]}) }}">{{ sortie[i]}}</a>
                        </td>
                    {% elseif sortie[i] == 'Modifier' %}
                        <td>
                            <a href="{{ path('sorties_edit',{ id : sortie[0]}) }}">{{ sortie[i]}}</a>
                        </td>
                    {% else %}
                            <td>{{ sortie[i]}}</td>
                    {% endif %}#}
