{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}

	<div class="premierDivAccueil">
		<h3>
			{% if app.user %}Bonjour
				{{  app.user.pseudo }}
			{% endif %}
		</h3>
		<div>
			<label>Campus :
			</label>
			<select name="campus">
				{% for campus in campuses %}
					<option value="Rennes">{{campus.nom}}</option>
				{% endfor %}
			</select>
			<input type="text" placeholder="Quel Sortie ?">
			<label>Entre :
			</label>
			<input type="date">
			<label>et</label>
			<input type="date">
		</div>
	</div>
	<div>
		<input type="checkbox" value="3" checked>
		<label>Nouveautés</label>
		<input type="checkbox" value="1">
		<label>Organisateur-trice</label>
		<input type="checkbox" value="2">
		<label>Inscrit-e</label>
		<input type="checkbox" value="4">
		<label>Joyeux Souvenirs</label>
		<button type="submit">Rechercher</button>
	</div>
	<div></div>


	{# FORMULAIRE SORTIE #}
	<div>

		<h1>Sortie Disponible</h1>
		

		<table class="table">
			<thead>
				<tr>
					<th>Nom</th>
					<th>Date de la sortie</th>
					<th>Clôture</th>
					<th>Places</th>
					<th>Etat</th>
					<th>Inscrit</th>
					<th>Organisateur</th>
				</tr>
			</thead>
			<tbody>
				{% for sortie in sorties %}
					<tr>
						<td>
							<a href="{{ path('sortie_show',{ id : sortie.id}) }}">{{ sortie.nom }}</a>
						</td>
						<td>{{ sortie.dateHeureDebut ? sortie.dateHeureDebut|date('d/m/Y H:i') : '' }}</td>
						<td>{{ sortie.dateLimiteInscription ? sortie.dateLimiteInscription|date('d/m/Y H:i') : '' }}</td>
						{# todo: Mettre le nombre d'inscrits avant le / (|lenght ?) #}
						<td> {{sortie.participants | length}} /
							{{ sortie.nbInscriptionsMax }}</td>
						<td>
							{% if sortie.etat == 'Annulé' %}
								Annulée
							{% endif %}
							{% if sortie.etat == 'Créée' %}
								En création
							{% endif %}
							{% if sortie.etat == 'Ouverte' %}
								Ouverte
							{% endif %}
							{% if sortie.etat == 'Cloturé' or sortie.etat == 'Passé' %}
								Fermé
							{% endif %}
						</td>
						{# todo : si on est actif pour cet evenement (manque les relations) mettre un if puis 'X' si true #}
						<td>{participant.actif}</td>
						<td>{{sortie.organisateur.pseudo}}</td>
						{% if app.user %}
							<td
								class="CelluleBtnTableau">
								{# todo: Changer les cjumeline par les {organisateur.id ou .mail} #}
								{% if app.user.pseudo == sortie.organisateur.pseudo %}
									{% if sortie.etat == 'Créée' %}
										<a href="{{ path('sortie_edit',{'id' : sortie.id} )}}" class="AncreBtnTableau">Modifier</a>
										{# todo: modifier comme bouton dans _form et modifier le mainController pour publier directement #}
										<a href="{{ path('sortie_edit',{'id' : sortie.id} )}}" class="AncreBtnTableau">Publier</a>

									{% endif %}
									{% if sortie.etat == 'Ouverte' %}
										<a href="{{ path('sortie_edit',{'id' : sortie.id})}}" class="AncreBtnTableau">Modifier</a>
										{# todo: rediriger vers la page annulation (de edit_etat)
																																						<a href="{{ path('edit_etat',{'id' : sortie.id} )}}">Annuler</a>#}
									{% endif %}
									{% if sortie.etat == 'Annulée' %}
										<a href="{{ path('sortie_edit',{'id' : sortie.id} )}}" class="AncreBtnTableau">Modifier</a>
										{# todo: modifier comme bouton dans _form et modifier le mainController pour publier directement #}
										<a href="{{ path('sortie_edit',{'id' : sortie.id} )}}" class="AncreBtnTableau">Republier</a>
										{# todo: rediriger vers la page annulation (de edit_etat)
																																						<a href="{{ path('etat_edit',{'id' : sortie.id} )}}">Supprimer</a>#}
									{% endif %}
								{% endif %}
								{# todo: Changer les cjumeline par les {organisateur.id ou .mail} #}
								{% if app.user.mail != sortie.organisateur.mail %}
									{% if sortie.etat == 'Ouverte' %}
										{% if app.user.actif == 0  %}
											{# todo: ajouter le if :relation avec une sortie spécifique, si on participe pas, on peut s'inscrire #}
											<a href="{{ path('sortie_edit',{'id' : sortie.id} )}}" class="AncreBtnTableau">Participer</a>
											<a href="{{ path('sortie_edit',{'id' : sortie.id} )}}" class="AncreBtnTableau">Se désister</a>
										{% endif %}
									{% endif %}
									{% if sortie.etat == 'Cloturée' %}
										{% if app.user.actif == 1  %}
											<a href="{{ path('sortie_edit',{'id' : sortie.id} )}}" class="AncreBtnTableau">Se désister</a>
										{% endif %}
									{% endif %}
								{% endif %}
							</td>
						{% endif %}
					</tr>
				{% else %}
					<tr>
						<td colspan="9">no records found</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

	{# <a href="{{ path('sortie_new') }}">Creer une nouvelle Sortie</a> #}
{% endblock %}

{# {% if sortie == 'Afficher' %}
                        <td>
                            <a href="{{ path('sorties_details',{ id : sortie[0]}) }}">{{ sortie[i]}}</a>
                        </td>
                    {% elseif sortie[i] == 'Modifier' %}
                        <td>
                            <a href="{{ path('sorties_edit',{ id : sortie[0]}) }}">{{ sortie[i]}}</a>
                        </td>
                    {% else %}
                            <td>{{ sortie[i]}}</td>
                    {% endif %}#}


{# //__________________________________________________________ #}
{# // TODO: à vois si l'on ne dois pas mettre la connnexion en premier
car sur la maquette la premier page est la connexion
 de sorte que seul les étudiant puissent voir les sorties  #}
