{% extends 'base.html.twig' %}

{% block title %}Sortie
{% endblock %}

{% block body %}

	<div
		class="deuxBlock">
		<div
			class="block1">
			<h1>Sortie</h1>
			<table
				class="table">
				<tbody>
					<tr>
						<th>Nom de la sortie</th>
						<td>{{ sortie.nom }}</td>
					</tr>
					<tr>
						<th>Date de début</th>
						<td>{{ sortie.dateHeureDebut ? sortie.dateHeureDebut|date('d/m/Y à H:i') : '' }}</td>
					</tr>
					<tr>
						<th>Date limite d'inscription</th>
						<td>{{ sortie.dateLimiteInscription ? sortie.dateLimiteInscription|date('d/m/Y à H:i') : '' }}</td>
					</tr>
					<tr>
						<th>Nombre de places</th>
						<td>{{ sortie.nbInscriptionsMax }}</td>
					</tr>
					<tr>
						<th>Duree</th>
						<td>{{ sortie.duree ? sortie.dateHeureDebut|date('H:i') }}</td>
					</tr>
					<tr>
						<th>Campus</th>
						<td>{{ sortie.campus.nom }}</td>
					</tr>
					<tr>
						<th>Lieu</th>
						<td>{{ sortie.lieu.nom }}
							à
							{{ sortie.lieu.ville.nom }}</td>
					</tr>
					<tr>
						<th>Rue</th>
						<td>{{ sortie.lieu.rue }}</td>
					</tr>
					<tr>
						<th>Code postal</th>
						<td>{{ sortie.lieu.ville.codePostal }}</td>
					</tr>
					<tr>
						<th>Latitude</th>
						<td>{{ sortie.lieu.latitude }}</td>
					</tr>
					<tr>
						<th>Longitude</th>
						<td>{{ sortie.lieu.longitude }}</td>
					</tr>
					<tr>
						<th>Description</th>
						<td>{{ sortie.infosSortie }}</td>
					</tr>

				</tbody>
			</table>
		</div>

		<div
			class="block2">
			<h2>Liste des participants inscrits :</h2>
			<div
				class="scrollBox">
				<table
					class="table">
					<thead>
						<tr>
							<th>Nom</th>
							<th>Pseudo</th>
						</tr>
					</thead>
					<tbody>
						{% for participant in sortie.participants %}
							<tr>
								<td>{{participant.nom}}
									-
									{{participant.prenom}}</td>
								<td>{{participant.pseudo}}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>


		</div>
	</div>


	{# todo : ajouter les boutons selon les cas 'inscrit' 'non inscrit' et si on est le créateur de l'évenement (deja fait sur une version de github)
									        todo : mettre le deuxieme tableau dans l'autre sens CSS
									
									    {% if app.user.mail == "cjumelinee@tutanota.com" %}
									        <button class="btn"><a href="{{ path('sortie_edit', {'id': sortie.id}) }}">Modifier</a></button>
									    {% endif %} #}
{% endblock %}
