{% extends 'base.html.twig' %}

{% block title %}Liste Ville
{% endblock %}

{% block body %}
	<div>
		<a
			href="{{ path('ville_new') }}">Ajouter une ville</a>
		<h1>Ville</h1>

		<table
			class="table">
			<thead>
				<tr>
					<th>Id</th>
					<th>Nom</th>
					<th>CodePostal</th>
				</tr>
			</thead>
			<tbody>
				{% for ville in villes %}
					<tr>
						<td>{{ ville.id }}</td>
						<td>{{ ville.nom }}</td>
						<td>{{ ville.codePostal }}</td>
						<td
							class="CelluleBtnTableau">

							<a
								href="{{ path('ville_show', {'id': ville.id}) }}">Afficher</a>
							<a
								href="{{ path('ville_edit', {'id': ville.id}) }}">Modifier</a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td
							colspan="4">Pas de ville trouvée!</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

	</div>
{% endblock %}
