    <header>
            <div class="logoPrincipal" >
                <a href="{{ path('main_index') }}">
                    <img class="logoPrincipalimg" src="{{ asset('img/logo/logoSortir.png')}}" title="Accueil" alt="Logo du site">
                </a>
            </div>
        <nav>
                <a class="btnNav" href="{{ path('main_index') }}">Accueil</a>
                {% if app.user%}
                <a class="btnNav" href="{{ path('main_profil' ,{ id : 2}) }}">Mon Profil </a>
                <a class="btnNav" href="{{ path('main_profil_edit') }}">Modifier mon Profil</a>
                <a class="btnNav" href="{{ path('sorties_details',{ id : 1}) }}"> Afficher Sorties</a>
                <a class="btnNav" href="{{ path('sorties_creer') }}"> Crée Sorties </a>
                <a class="btnNav" href="{{ path('sorties_cancel') }}"> Annuler Sorties</a>
                <a class="btnNav" href="{{ path('sorties_edit') }}"> Modifier Sorties</a>
                <a href="{{ path('app_logout') }}">Déconnexion</a>
                {% endif%}
                <a class="btnNav" href="{{ path('app_login') }}"> Se Connecter</a>
                <a class="btnNav" href="{{ path('app_register') }}"> S'inscrire</a>
                <a class="btnNav" href="{{ path('sorties_history') }}"> Historiques Sorties</a>
                <a class="btnNav" href="{{ path('main_villes') }}">Villes</a>
                <a class="btnNav" href="{{ path('main_campus') }}">Campus</a>
        </nav>
    </header>