    <header>
            <div class="logoPrincipal" >
                <a href="{{ path('main_index') }}">
                    <img class="logoPrincipalimg" src="{{ asset('img/logo/logoSortir.png')}}" title="Accueil" alt="Logo du site">
                </a>
            </div>
        <nav>
            <div class="liens">
                <a class="btnNav" href="{{ path('main_index') }}">Accueil</a>
                <a class="btnNav" href="{{ path('main_profil' ,{ id : 2}) }}">Mon Profil</a>
                <a class="btnNav" href="{{ path('main_villes') }}">Villes</a>
                <a class="btnNav" href="{{ path('main_campus') }}">Campus</a>
                <a class="btnNav" href="{{ path('app_logout') }}"> Se Déconnecter</a>
                <a class="btnNav" href="{{ path('app_login') }}"> Se Connecter</a>
                <a class="btnNav" href="{{ path('app_register') }}"> S'inscrire</a>
                <a class="btnNav" href="{{ path('sorties_details') }}"> afficherSorties</a>
                <a class="btnNav" href="{{ path('sorties_cree') }}"> crée Sorties </a>
                <a class="btnNav" href="{{ path('sorties_cancel') }}"> annuler Sorties</a>
                <a class="btnNav" href="{{ path('sorties_edit') }}"> modifier Sorties</a>
                <a class="btnNav" href="{{ path('sorties_history') }}"> historiques Sorties</a>
                {# {% if app.user%}<a href="{{ path('app_logout') }}">Déconnexion</a>{% endif%} #}
            </div>
        </nav>
    </header>